body{ 
 	background-image: url("https://cdn.wallpapersafari.com/66/19/THKDBW.jpg"); 
	
 } 
h1{
	color: white;
	font-size: 150px;
	font-style: inherit;
	align-content:center;
	
}

a{
	color: #58faee;
	font-size: 35px;
	font-family: sans-serif;
}
/* body{ */
/* 	background-color: yellow; */
/* } */